<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 屬性 -->
	<!-- 設定日期格式 -->
	<timestamp key="byDate" datePattern="yyyyMMdd" />
	
	<!-- log寫在console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<!-- encoder 對日誌進行格式化 -->
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%class][%logger.%method][%line]%msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 設定 FileAppender 每天寫一份，檔名以日期來區分 -->
  	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<if condition='property("os.name").toLowerCase().contains("mac")'>
			<then>
				<if condition='property("user.name").toLowerCase().equals("pengyiqiao")'>
					<then>
						<File>${user.home}/Desktop/Works/OrangeBlock/JavaTech/Logs/BTC_Log/${byDate}_BTC_Log.txt</File>
					</then>
					<else>
						<File>${user.home}/Desktop/BTC_Log/${byDate}_BTC_Log.txt</File>
					</else>
				</if>
				<if condition='property("user.name").toLowerCase().equals("wangmiaomiao")'>
					<then>
						<File>${user.home}/Desktop/Logs/BTC_Log/${byDate}_BTC_Log.txt</File>
					</then>
					<else>
						<File>${user.home}/Desktop/BTC_Log/${byDate}_BTC_Log.txt</File>
					</else>
				</if>
			</then>
			<else>
				<File>/dpf/logs/BcaasWalletWebChina/${byDate}_BTC_Log.txt</File>
			</else>
		</if>
		<encoder>
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%class][%logger.%method][%line]%msg%n</Pattern>
		</encoder>

		<append>true</append>
		<prudent>false</prudent>
	</appender> 
	<!-- 不分日期寫在同一份 -->
  	<appender name="ALLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<if condition='property("os.name").toLowerCase().contains("mac")'>
			<then>
				<if condition='property("user.name").toLowerCase().equals("pengyiqiao")'>
					<then>
						<File>${user.home}/Desktop/Works/OrangeBlock/JavaTech/Logs/BTC_Log/BTC_Log.txt</File>
					</then>
					<else>
						<File>${user.home}/Desktop/Log/BTC_Log/BTC_Log.txt</File>
					</else>
				</if>
				
				<if condition='property("user.name").toLowerCase().equals("wangmiaomiao")'>
					<then>
						<File>${user.home}/Desktop/Logs/BTC_Log/${byDate}_BTC_Log.txt</File>
					</then>
					<else>
						<File>${user.home}/Desktop/BTC_Log/${byDate}_BTC_Log.txt</File>
					</else>
				</if>
			</then>
			<else>
				<File>/dpf/logs/BcaasWalletWebChina/BTC_Log.txt</File>
			</else>
		</if>
		<encoder>
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%class][%logger.%method][%line]%msg%n</Pattern>
		</encoder>

		<append>true</append>
		<prudent>false</prudent>
		
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <if condition='property("os.name").toLowerCase().contains("mac")'>
		  		<then>
		  			<if condition='property("user.name").toLowerCase().equals("pengyiqiao")'>
		  				<then>
							<fileNamePattern>${user.home}/Desktop/Works/OrangeBlock/JavaTech/Logs/BTC_Log/zip/http/%d{yyyy-MM-dd}/_%i-Log.txt.zip</fileNamePattern>
						</then>
						<else>
		  					<fileNamePattern>${user.home}/Desktop/BTC_Log/zip/http/%d{yyyy-MM-dd}/_%i-Log.txt.zip</fileNamePattern>
		  				</else>
		  			</if>
		  			<if condition='property("user.name").toLowerCase().equals("wangmiaomiao")'>
						<then>
							<File>${user.home}/Desktop/Logs/BTC_Log/${byDate}_BTC_Log.txt</File>
						</then>
						<else>
							<File>${user.home}/Desktop/BTC_Log/${byDate}_BTC_Log.txt</File>
						</else>
					</if>
		  		</then>
		  		<else>
		  			<fileNamePattern>/dpf/logs/BTC/zip/http/%d{yyyy-MM-dd}/_%i-Log.txt.zip</fileNamePattern>
		  		</else>
		  	</if>
            <maxFileSize>500MB</maxFileSize>
<!--             <maxFileSize>1KB</maxFileSize> -->
        </rollingPolicy>
	</appender> 
	
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="info" />
		<!-- add the following line -->
		<includeCallerData>true</includeCallerData>
	</appender>
	<!-- 每天日誌文件 -->
     <!-- <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
        <!-- 按天新建log日誌 -->
        <!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}Java_Middleware_Log_%d{yyyy-MM-dd}.txt</fileNamePattern> -->
            <!-- 保留歷史日誌 -->
            <!-- <maxHistory>300</maxHistory> -->
            <!-- 基於大小和時間，這個可以有，可以没有 -->
            <!-- <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%logger.%method] %msg%n</pattern>
        </encoder>
    </appender>   -->
    
    <!-- name對應程式, appender-ref對應上面的appender name -->
    <logger name="log.info" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ALLFILE"/>
    </logger>
    <logger name="log.debug" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
	<!-- The level of the root level is set to DEBUG by default. -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- 其他framework過濾, 避免被log洗頻 -->
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache" level="INFO" />


</configuration> 