*.iml
.gradle
/local.properties
/.idea
.idea
.DS_Store
/build
/captures
.externalNativeBuild
qrcode/build/generated/renderscript_source_output_dir/
qrcode/build/generated/res/
qrcode/build/generated/source/apt/
qrcode/build/intermediates/annotations_zip/
qrcode/build/intermediates/check_manifest_result/
qrcode/build/intermediates/consumer_proguard_file/
qrcode/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
qrcode/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
qrcode/build/intermediates/incremental/packageDebugResources/stripped.dir/
qrcode/build/intermediates/incremental/packageReleaseResources/stripped.dir/
qrcode/build/intermediates/incremental/release-mergeJavaRes/zip-cache/
qrcode/build/intermediates/incremental/release-mergeJniLibs/zip-cache/
qrcode/build/intermediates/incremental/verifyReleaseResources/
qrcode/build/intermediates/intermediate-jars/debug/jni/
qrcode/build/intermediates/intermediate-jars/release/jni/
qrcode/build/intermediates/jniLibs/
qrcode/build/intermediates/library_and_local_jars_jni/
qrcode/build/intermediates/library_assets/
qrcode/build/intermediates/lint_jar/
qrcode/build/intermediates/public_res/
qrcode/build/intermediates/rs/
qrcode/build/intermediates/shader_assets/
qrcode/build/intermediates/shaders/
qrcode/build/tmp/
